*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f8;
    min-height: 100vh;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 20px;
    font-size: 2rem;
}
button i{
    font-size: 2rem;
    cursor: pointer;
}